# External dependencies
cmake==3.18.4
setuptools==57.5.0
tyro==0.8.11

# Local editable installations
-e ./calvin-sim/calvin_env/tacto
-e ./calvin-sim/calvin_env
-e ./calvin-sim/calvin_models
-e ./calvin-sim/urdfpy
